@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic,900italic,900);
/*
html5doctor.com Reset Stylesheet
v1.2
2009-07-15
Author: Richard Clark - http://richclarkdesign.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video,
source {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  background: #e6e6e6;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #06132e;
}
header div.jumbotron {
  background: url(../img/bg_head_3.png) no-repeat center center;
}
header div.jumbotron img.avatar {
  border: 1px solid white;
  margin-bottom: 35px;
}
header div.jumbotron h1 {
  color: white;
  font-weight: 300;
}
header div.jumbotron h2 {
  font-size: 32px;
  font-weight: 300;
  color: #e6e6e6;
}
header div.jumbotron strong {
  font-weight: 600;
}
section.cv-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
section.cv-container i.logo-circle {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 30px;
  border: 8px solid #376ec8;
  background-color: #ef1835;
  position: relative;
}
section.cv-container i.logo-circle:after {
  content: "";
  position: absolute;
  background-color: #f8f8f8;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  left: 8px;
  top: 8px;
}
section.cv-container h2 {
  margin-bottom: 50px;
}
section.cv-container h3 {
  font-weight: 300;
  font-size: 40px;
}
section.cv-container .skills {
  clear: both;
  -webkit-column-count: 2;
  width: 600px;
  margin: 0 auto;
}
section.cv-container .skills li {
  min-height: 50px;
  list-style: none;
  line-height: 35px;
  padding-left: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: 1px solid;
  border-left: 10px solid;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
}
section.cv-container .skills li.lightBlue {
  border-color: #c1d5e1;
}
section.cv-container .skills li.lightBlue:hover {
  background-color: #c1d5e1;
}
section.cv-container .skills li.white {
  border-color: #f8f8f8;
}
section.cv-container .skills li.white:hover {
  background-color: #f8f8f8;
}
section.cv-container .skills li.blueBlack {
  border-color: #06132e;
}
section.cv-container .skills li.blueBlack:hover {
  background-color: #06132e;
}
section.cv-container .skills li.redy {
  border-color: #ef1835;
}
section.cv-container .skills li.redy:hover {
  background-color: #ef1835;
}
section.cv-container .skills li.blue {
  border-color: #7ac8ff;
}
section.cv-container .skills li.blue:hover {
  background-color: #7ac8ff;
}
section.cv-container .skills li.blueDark {
  border-color: #376ec8;
}
section.cv-container .skills li.blueDark:hover {
  background-color: #376ec8;
}
section.cv-container .timeline {
  padding-left: 25px;
  width: 600px;
  border-left: 5px solid #06132e;
  margin: 30px auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
section.cv-container .timeline li.milestone {
  position: relative;
  list-style: none;
  z-index: 0;
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 4px 16px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 2px 4px 16px rgba(50, 50, 50, 0.2);
  box-shadow: 2px 4px 16px rgba(50, 50, 50, 0.2);
  border-radius: 8px;
  padding: 11px;
  color: #06132e;
  margin-top: 10px;
}
section.cv-container .timeline li.milestone:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: white;
  border: 4px solid #ef1835;
  top: 13px;
  left: -36px;
  z-index: 1;
}
section.cv-container .timeline li.milestone .title {
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  padding-bottom: 5px;
  margin-bottom: 3px;
}
section.cv-container .timeline li.milestone .title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-right: solid 10px #f8f8f8;
}
section.cv-container .timeline li.milestone .date-from-to {
  font-size: 10px;
  font-weight: 300;
  color: black;
  display: block;
  width: 100%;
  padding-top: 5px;
  margin-bottom: 10px;
}
section.cv-container .timeline li.milestone .date-from-to .from,
section.cv-container .timeline li.milestone .date-from-to .to {
  background-color: #c1d5e1;
  padding: 2px;
  border-radius: 3px;
  color: white;
}
section.cv-container .timeline li.milestone ul.desc {
  margin-left: 35px;
  position: relative;
  display: block;
}
section.cv-container .timeline li.milestone ul.desc li {
  margin-bottom: 7px;
}
section.cv-container .timeline li.milestone .desc {
  margin-top: 13px;
  display: initial;
  font-weight: 300;
  font-size: 13px;
}
